.contacts-section {
  min-height: calc(100vh - 40px);
  overflow: auto;
  padding: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba($color-gray-light-1, 0.8),
    rgba($color-gray-dark, 0.8)
  );
}
