.btn {
  &,
  &:visited,
  &:link {
    display: block;
    width: 100%;
    text-decoration: none;
    height: 3.6rem;
    border-radius: 0.4rem;
    transition: all 0.2 ease-out;
    position: relative;
    font-size: $default-font-size;
    border: none;
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
  }

  &--red {
    background-color: $color-secondary;
    color: $color-white;
  }

  &--small {
    display: block;
    height: 2rem;
    border-radius: 0.4rem;
    transition: all 0.2 ease-out;
    border: none;
    cursor: pointer;
    padding: 0 1rem;
    margin-right: 1rem;
  }
}
